<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">

    <!-- Logging Properties -->
    <Properties>
        <Property name="LOG_PATTERN">%-5p | %d{yyyy-MM-dd HH:mm:ss} | %m%n</Property>
        <Property name="APP_LOG_ROOT">C:/customization/log</Property>
    </Properties>

    <Appenders>

        <!--         Console Appender -->
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>

        <!-- File Appenders on need basis -->
        <RollingFile name="frameworkLog" fileName="${APP_LOG_ROOT}/warehouse-log.log"
                     filePattern="${APP_LOG_ROOT}/warehouse-log-%d{yyyy-MM-dd}.log">
            <LevelRangeFilter minLevel="FATAL" maxLevel="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy />
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="${APP_LOG_ROOT}">
                    <IfFileName glob="warehouse-log-*.log"/>
                    <IfLastModified age="14d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

    </Appenders>

    <Loggers>

        <Logger name="org.nonit.cashewmanagement" additivity="false" level="info">
            <AppenderRef ref="frameworkLog"/>
            <AppenderRef ref="Console"/>
        </Logger>

        <Root level="info">
            <AppenderRef ref="frameworkLog"/>
            <AppenderRef ref="Console"/>
        </Root>

    </Loggers>

</Configuration>